img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.cardContainer {
    border: 2px solid #bbbbbb;
    border-radius: 20px;
    max-width: 100%;
}

.cardContainer:hover {
    cursor: pointer;
    animation: fadeIn .25s;
    -webkit-animation: fadeIn .25s;
    border: 2px solid #6d6d6d;
    background-color: #e6e6e6;
}

@keyframes fadeIn {
    0% {
        border: 2px solid #bbbbbb;
        background-color: white;
    }
    100% {
        border: 2px solid #6d6d6d;
        background-color: #e6e6e6;
    }
}

.header {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.header:hover {
    text-decoration: underline;
    color: black;
}

.cardLink {
    color: black;
}

.cardLink:hover {
    color: black;
}

.cardLink:hover > div > div > .header {
    text-decoration: underline;
}